@font-face {
    font-family: 'Coiny';
    src: url('fonts/Coiny-Regular.woff2') format('woff2'),
        url('fonts/Coiny-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --body-bg: #272727;
  --cards-bg: #3D3D3D;
  --playful-blue: #0072BB;
  --light-green: #8FC93A;
  --golden-yellow: #E4CC37;
  --chestnut: #E4CC37;
  --tangerine: #E03616;
}

body {
  background-color: var(--body-bg);
  color: #fff;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  text-wrap: pretty;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 1 0 50px;
  background: var(--cards-bg);
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 16px;
}

.game-area {
  display: flex;
  flex-direction: column;
  background: var(--cards-bg);
  padding: 1.5rem;
  border-radius: 16px;
  width: clamp(200px, 50vw, 800px);
  align-items: center;
}

.players {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.player-container {
  background-color: gray;
  padding: 1rem 1.8rem 1.2rem;
  border-radius: .5lh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

button.remove-player {
  grid-row: 1 / span 2;
  height: 3rem;
  aspect-ratio: 1 / 1;
  align-self: center;
  background: var(--tangerine);
  border: none;
  border-radius: 50%;
  color: #fff;
}

.board-cell {
  background-color: gray;
  border: 3px solid white;
  display: grid;
  place-content: center;
  container-type: size;
}

.board-cell > span {
  font-size: 70cqw;
  line-height: 1;
  user-select: none;
}

.board-cell[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.board-cell:hover {
  background-color: lightgray;
}

.board {
  width: 85%;
  aspect-ratio: 1 / 1;
  display: grid;
  gap: 3px;
}

input[type="text"],
input[type="number"],
button {
  font-size: 1rem;
  font-family: inherit;
  padding: .5rem;
}

label {
  font-size: 1.2rem
}

button.start-button {
  background-color: var(--golden-yellow);
  border-radius: 1em;
  font-size: 1.4rem;
  padding: .7rem;
  border: none;
  margin-top: 1.5rem
}

button.add-player {
  background-color: var(--light-green);
  border: none;
  border-radius: 1em;
  font-size: 1.1rem;
  width: 30%;
  aspect-ratio: 1 / 1;
}

.game-info {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: gray;
  border-radius: 1lh;
  margin: .8rem;
  text-shadow: 0 0 25px #fff;
  width: 80%
}
.game-info[data-state="ongoing"] {
  background-color: var(--playful-blue);
}
.game-info[data-state="win"] {
  background-color: var(--light-green);
}
.game-info[data-state="tie"] {
  background-color: var(--golden-yellow);
}

.top-highlight-element {
  box-shadow: 
    inset 0 2px 4px #ffffff50;
}

button:hover,
input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow:
    inset 0 2px 4px #ffffff50,
    2px 2px 10px rgb(31, 31, 31);
  transform: scale(1.04);
}

button.remove-player:hover {
  box-shadow:
    inset 0 2px 4px #ffffff50,
    2px 2px 10px rgb(87, 87, 87);
}

button:active {
  transform: scale(1.02);
}

button {
  transition: 100ms transform ease-in-out;
}