@font-face {
    font-family: 'Coiny';
    src: url('fonts/Coiny-Regular.woff2') format('woff2'),
        url('fonts/Coiny-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --body-bg: #272727;
  --cards-bg: #3D3D3D;
  --playful-blue: #0072BB;
  --light-green: #8FC93A;
  --golden-yellow: #E4CC37;
  --chestnut: #E4CC37;
}

body {
  background-color: var(--body-bg);
  color: #fff;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  text-wrap: pretty;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 1 0 50px;
  background: var(--cards-bg);
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 16px;
}

.game-area {
  display: flex;
  flex-direction: column;
  background: var(--cards-bg);
  padding: 1.5rem;
  border-radius: 16px;
}

.players {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.player-container {
  background-color: gray;
  padding: 1rem 1.8rem 1.2rem;
  border-radius: .5lh;
}

.board-cell {
  background-color: gray;
  border: 3px solid white;
}

.board-cell[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.board-cell:hover {
  background-color: lightgray;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  gap: 3px
}

.game-info {
  content: "aaa";
}

input[type="text"]:focus,
input[type="number"]:focus {

}

input[type="text"],
input[type="number"],
button {
  font-size: 1rem;
  font-family: inherit;
  padding: .5rem;
}

label {
  font-size: 1.2rem
}

button.start-button {
  background-color: var(--golden-yellow);
  border-radius: 1em;
  font-size: 1.4rem;
  padding: .7rem;
  border: none;
  margin-top: 1.5rem
}

button.add-player {
  background-color: var(--light-green);
  border: none;
  border-radius: 1em;
  font-size: 1.1rem;
  width: 30%;
  aspect-ratio: 1 / 1;
}

.game-info {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: gray;
  border-radius: 1lh;
  margin: .8rem;
  text-shadow: 0 0 25px #fff;
}
.game-info[data-state="ongoing"] {
  background-color: var(--playful-blue);
}
.game-info[data-state="win"] {
  background-color: var(--light-green);
}
.game-info[data-state="tie"] {
  background-color: var(--golden-yellow);
}

.top-highlight-element {
  box-shadow: 
    inset 0 1px 2px #ffffff50;
}